
html, body {
    width: 100%;
}
table {
    margin: 0 auto;
}
.hexagon a {
	height: 104px;
  width: 60px;
}

.hexagon img {
	z-index: 10;
	position: relative;
}

#hex1 {
  width: 104px;
  height: 104px;
}

#color1 {
  background-color: #96D1BE; 
}


.hexagon-wrapper {
  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;
          float: left;
        margin-right: -20px;
        margin-bottom: -64px;
}

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
  z-index: 2
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
    -webkit-transform: rotateZ(60deg);
  -moz-transform: rotateZ(60deg);
   z-index: 1
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
  -webkit-transform: rotateZ(-60deg);
  -moz-transform: rotateZ(-60deg);
   z-index: 0

}
.hexagon:hover{
	background-color:#6da782 !important;
}

.hexagon:active{
	background-color: #4d775c !important;
}

.hex-row {
        clear: left;
    }
.even {
        margin-top: 80px;
    }
header{
	font-family: dosis;
	    margin: 0 auto;
	    text-align: center;

}

h1{
	font-size:60pt;
	color: #96D1BE;
	font-weight: 500;
	margin-bottom: 0;

}
h2{
	font-size:36pt;
	color:#4b4949;
	font-weight: 300;
	letter-spacing: 10px;
	margin-top: -20px;
}
.cdtable{
  border-width:10px;
  border-color:#cfcfcf;
}
.countdown{
  font-family: 'Cutive Mono';
  font-size:60pt;
  font-weight: 500;
  text-align: right;
  border: none;
}

.words{
  font-family: 'Cutive Mono';
  text-align: left;
  padding-top:11px;
  vertical-align:top;
  font-size:30pt;
}


